/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: rgb(240,249,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(240,249,255,1) 0%, rgba(161,219,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(240,249,255,1) 0%,rgba(161,219,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(240,249,255,1) 0%,rgba(161,219,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-attachment: fixed;
}

body{
  background-color: transparent!important;
}
